PORT=5000
MONGO_URI=mongodb://localhost:27017/smana_hotel
JWT_SECRET=your_jwt_secret_key_change_me
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Redis (for Socket.io adapter)
REDIS_HOST=localhost
REDIS_PORT=6379

# HyperPay Payment Gateway
HYPERPAY_BASE_URL=https://eu-test.oppwa.com
HYPERPAY_ACCESS_TOKEN=OGFjN2E0Yzg5YTI5ZTNjMzAxOWEyYTIzYjJmNTAwOTl8OFJQRyVweW14TXohbz1FRE1lUTg=
HYPERPAY_ENTITY_ID_AED=8ac7a4c89a29e3c3019a2a24330c009d
HYPERPAY_ENTITY_ID_USD=8ac7a4c89a29e3c3019a2a25ff7a00a5
HYPERPAY_MODE=test
